{% extends 'staff/staff_base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="card text-center contact mx-auto rounded mb-5 pd-5">
    <div class="card-body">
        <p class="mb-4">スケジュールの新規作成はこちら</p>
        <a href="{% url 'schedule:staff_schedule_regist' %}" class=" btn btn-warning"><i class="fas fa-check">　スケジュール登録</i></a>
    </div>
</div>
<div class="card text-center contact mx-auto rounded">
    <div class="card-body">
        <a href="{% url 'schedule:staff_schedule' month_previous.year month_previous.month %}" class="text-dark">前月</a>
        <span class="h3 mr-5 ml-5">{{ month_current | date:"Y年m月" }}</span>
        <a href="{% url 'schedule:staff_schedule' month_next.year month_next.month %}" class="text-dark">次月</a>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">日にち</th>
                    <th scope="col">シフト名</th>
                    <th scope="col">詳細</th>
                </tr>
            </thead>
            <tbody>
                {% for day, schedules in month_day_schedules.items %}
                    <tr>
                        <td>{{ day.day }}日</td>
                        {% if not schedules %}
                            <td></td>
                            <td><a href="{% url 'schedule:staff_schedule_day_regist' day.year day.month day.day %}" class="btn-sm btn btn-outline-light"><i class="fas">作成</i></a></td>
                        {% else %}
                            {% for schedule in schedules %}
                                <td>{{ schedule.shift_name }}</td>
                                <td>
                                    <a href="{% url 'schedule:staff_schedule_update' schedule.id%}" class="btn-sm btn btn-outline-warning mr-1"><i class="fas">編集</i></a>
                                    <a href="{% url 'schedule:staff_schedule_delete' schedule.id%}" class="btn-sm btn btn-outline-danger"><i class="fas">削除</i></a>
                                </td>
                            {% endfor %}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
