{% extends 'staff/staff_base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="card text-center contact mx-auto rounded">
    <div class="card-body">
        <h2 class="mb-4">シフト作成</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {% render_field form.date class='form-control' %}
            </div>
            <div class="mb-3">
                {% render_field form.shift_name class='form-control' %}
            </div>
            <div class="mb-3">
                {% render_field form.status class='form-control' %}
            </div>
            <div class="mb-3">
                <button class="btn btn-warning mr-3" type="submit"><i class="fa">作成</i></button>
                <a href="{% url 'schedule:staff_application_schedule' %}" class="btn btn-danger"><i class="fa">キャンセル</i></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
