{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="card text-center contact mx-auto rounded">
    <div class="card-body">
        <h2 class="mb-4">パスワードリセット</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="text-left">パスワードのリセットを行います．</p>
            <p class="text-left">メールアドレスを入力して送信ボタンを押してください．</p>
            {% for field in form %}
                <div class="mt-5 mb-5 text-left">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button class="btn btn-warning mr-3" type="submit"><i class="fas">送信する</i></button>
        </form>
    </div>
</div>
{% endblock %}
