{% extends 'staff/staff_base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="card text-center contact mx-auto rounded">
    <div class="card-body">
        <h2 class="mb-4">パスワード変更</h2>
        {% if messages %}
            {% for message in messages %}
                <div>{{ message.message }}</div>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <div class="mb-3">
                <button class="btn btn-warning mr-3" type="submit"><i class="fas">変更する</i></button>
                <a href="{% url 'staff:staff_information' %}" class="btn btn-danger"><i class="fa">キャンセル</i></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
