{% extends 'staff/staff_base.html' %}
{% load widget_tweaks %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div>{{ message.message }}</div>
    {% endfor %}
{% endif %}
<div class="card text-center contact mx-auto rounded mb-5 pd-5">
    <div class="card-body">
        <p class="mb-4">シフトの確認・変更・登録はこちら</p>
        <div>
            <a href="{% url 'schedule:staff_schedule' %}" class="btn btn-warning"><i class="fas fa-calendar-check">　シフト確認</i></a>
        </div>
    </div>
</div>
<div class="card text-center contact mx-auto rounded mb-5 pd-5">
    <div class="card-body">
        <p class="mb-4">個人情報の確認・パスワードの変更はこちら</p>
        <div>
            <a href="{% url 'staff:staff_information' %}" class="btn btn-warning"><i class="fas fa-clipboard">　個人情報確認</i></a>
        </div>
    </div>
</div>

{% if user.is_staff %}
<div class="card text-center contact mx-auto rounded">
    <div class="card-body">
        <p class="mb-4">管理者ページはこちらから</p>
        <div>
            <a href="{% url 'staff:manager_home' %}" class="btn btn-warning"><i class="fas fa-address-card">　管理者ページ</i></a>
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endblock %}